* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: #232931;
}

.logo {
	height: 3rem;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	flex-direction: column;
}

.head {
	color: white;
	font-family: cursive;
	/*border-bottom: 2px solid crimson;*/
}

.atte{
	background: crimson;
	padding: 5px;
	animation: blink 1.5s linear infinite;
}

@keyframes blink {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100;
	}
}

.btn-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 10px;
}

.btn {
	width: 40%;
	margin: 1rem auto;
}

fieldset {
	width: 40%;
	margin: 20px auto;
}

select {
	background: #1e1f26;
}

label {
	color: white;
	font-family: calibri;
	font-size: 1.3rem;
}

#form {
	display: none;
}

#form2 {
	display: none;
}	

@media only screen and (max-width: 768px){
	.btn-container {
		width: 100%;
	}
	fieldset {
		width: 70%;
	}
}
